.content {
  max-width: 720px;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 800;
  max-width: 760px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 28px;
  }
}

.highlight {
  color: var(--mantine-color-blue-filled);
}


.description {
  margin-top: var(--mantine-spacing-md);
  max-width: 640px;
}
