.content {
  max-width: 720px;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 800;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 28px;
  }
}

.highlight {
  color: var(--mantine-color-blue-filled);
}
