.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: calc(var(--mantine-spacing-xl) * 2);
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.content {
  max-width: 540px;
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--mantine-color-blue-filled);
  margin-bottom: var(--mantine-spacing-xs);
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: 48px;
  line-height: 1.1;
  font-weight: 800;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 34px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.highlight {
  position: relative;
  color: var(--mantine-color-blue-filled);
}

.listIcon {
  background-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white);
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.imageWrapper {
  position: relative;
  flex: 1;
  min-width: 300px;

  @media (max-width: $mantine-breakpoint-md) {
    min-width: 100%;
  }
}

.imageWrapper::before,
.imageWrapper::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  background-color: var(--mantine-color-blue-light);
}

.imageWrapper::before {
  width: 140px;
  height: 140px;
  top: -30px;
  right: -30px;
}

.imageWrapper::after {
  width: 110px;
  height: 110px;
  bottom: -24px;
  left: -24px;
}

.image {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 560px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  }
}
